body{
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
    background:url(images/backimg.png)fixed; background-position:left top;
}


.control-box{max-width:1000px;}

.nightback{background-color:#050e2e;}

.conceptback{background-image:url(images/concept.png);
  background-repeat: no-repeat;
height:100vh;}

.textblackback{background-color:rgba(0, 0, 0, 0.7);}

.gosikkufont{
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}
